.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}

[dir="rtl"] .rating {
    --dir: left;
}

.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}

.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}

.rating,
.rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.rating-label {
    margin-block-end: 1rem;
}

/* NO JS */
.rating--nojs::-moz-range-track {
    background: var(--fillbg);
}

.rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
}

.rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
}

.rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
}

[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
}
.rating {
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    overflow: auto;
    /* background: url("https: //images.pexels.com/photos/2531608/pexels-photo-2531608.jpeg?auto=compress"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-color: #354259; */
}

.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-family: 'Raleway', sans-serif;
}
.left, .right {
    height: 96vh;
    width: 50%;
    /* background-color: antiquewhite; */
}
#product_image {
    width: 40%;
    /* height: 100%; */
}
.left {
    text-align: center;
}
.right {
    /* border-left: 1px solid #ccc; */
}
.right .title {
    text-align: center;
}
.website_details {
    background-color: #354259;
    color: #fff;
    padding: 1em;
}
.website_details a {
    color: #fff;
}
.website_details img {
    background-color: #fff;
    border-radius: 20em;
    padding: 1em;
}
.product_details {
    padding: 1em;
    /* color: #fff; */
    /* background-color: rgb(46, 43, 43); */
    /* background-color: #C2DED1; */
    height: 65%;
}
.white {
    color: #fff;
}
#product_url {
    color: black;
}
footer {
    background-color: #354259;
    color: #efefef;
    /* height: 2vh; */
    text-align: center;
    padding: 1vh;
    font-size: 14px;
    display: none;
}
.right {
    /* background-color: #ECE5C7; */
    /* overflow: auto; */
}
form {
    width: 70%;
    margin: 0 auto;
    /* margin-top: 4vh; */
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    padding: 2em;
}
input, textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    background-color: rgba(236, 236, 242, 0.4);
    margin: 13px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label {
    display: block;
    text-align: left;
    font-size: 14px;
    /* margin-bottom: 0.7em; */
    /* margin: 10px 0; */
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 10vh;
}
input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 85%;
    /* margin: 0 auto; */
    cursor: pointer;
}
.left {
    display: none;
}
@media screen and (max-width: 768px) {
    /* .left {
        display: block;
    } */
    .right {
        width: 100%;
    }
}
.review_details {
    /* height: 10vh; */
    /* background-color: yellow; */
    /* background-color: #efefef; */
    /* color: #fff; */

    width: 71%;
    margin: 0 auto;
    /* margin-top: 4vh; */
    /* background-color: #FAF9F6; */
    box-shadow: 0px 0px 10px #ccc;
    padding: 0em 2em;
    font-size: 14px;
}
.review_details a {
    color: #000;
}
.review_details .container {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}
#website_logo {
    /* background-color: #000; */
    border-radius: 20em;
    height: 50px;
    width: 50px;
}
.success_message {
    display: none !important;
}